[submodule "Perform/vendor/GLFW"]
	path = Perform/vendor/GLFW
	url = https://github.com/SuperDino484/glfw
[submodule "Perform/vendor/spdlog"]
	path = Perform/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Perform/vendor/imgui"]
	path = Perform/vendor/imgui
	url = https://github.com/SuperDino484/imgui
